* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.main {
    height: 100vh;
    transition-duration: 2s;
}

.navbar {
    text-align: center;
    width: 1519px;
}

.navbar-btn-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
}

.navbar-btn {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}
.navbar-brand {
    background-color: whitesmoke;
    padding: 10px;
}

.navbar-nav {
    list-style: none;
    display: none;
    background-color: whitesmoke;
}

.nav-item {
    padding: 10px;
}

.nav-link {
    text-decoration: none;
    color: black;
}


.mood-btn {
    margin: 20px;
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: black;
    color: white;
}

.form {
    background-color: whitesmoke;
    width: 290px;
    padding: 20px 5px;
    margin: 200px auto;
    border-radius: 10px;
}
.form-email {
    display: block;
    padding: 10px 10px;
    outline: none;
    margin: 10px;
    width: 250px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.384);
}
.form-password {
    display: block;
    padding: 10px 10px;
    outline: none;
    margin: 10px;
    width: 250px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.384);
}
.form-btn {
    padding: 10px 10px;
    outline: none;
    margin: 10px;
    width: 250px;
    border-radius: 6px;
    border: none;
    background-color: rgb(30, 161, 221);
    color: white;
}

.alert-text {
    width: 180px;
    margin: auto;
    margin-top: -180px;
    font-size: 17px;
}